html{
    border: solid gray 3px;
}

header{
    background-color: black;
    color: white;
    padding: 2rem 0; 
}

h1{
    margin: 3rem 1rem 2rem 5%;
}

body{
    margin: 0;
    background-color: #333;
}

main{
    max-width: 60rem;
    margin: 0 auto;
    border: solid gray 3px;
    /* padding: 0 2%; */
    background-color: white;
}

p{
    margin: 0 0 .4rem 5%;
}

h4 {
    margin: 0 0 0 5%;
}

figure{
    margin: 1rem 0 0 3%;
}

div{
    padding: .5rem .5rem;
    margin: 1rem 0;
}

.zebra{
    background-color: rgba(113, 122, 241, 0.041);
    
}

footer{
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: .5rem;
}

video {
    width: 100%;
    margin-bottom: 2rem;
}

img{
    max-width: 100%;
}